#
# Mackup configuration file
#

[storage]
engine = file_system
path = .mackup

# If this list is empty, Mackup will try to sync all the supported
# applications.
[applications_to_sync]
atom
vscode
popclip
moom
karabiner-elements

# If an application is ignored, it will be ignored even if it's been explicitly
# allowed in the [Allowed Applications].
[applications_to_ignore]
ssh
