**/karabiner/automatic_backups
/workspaces/init/symlinks/nvim/plugin/packer_compiled.lua
/workspaces/init/symlinks/mackup/Mackup/Library/Application Support/PopClip/_LaunchData
/workspaces/init/symlinks/mackup/Mackup/Library/Application Support/PopClip/_ActivityData
