symlinks/mackup/Mackup/Library/Application\ Support/PopClip/Logs/
symlinks/mackup/Mackup/Library/Application\ Support/PopClip/_LaunchData
symlinks/mackup/Mackup/.config/karabiner/automatic_backups
symlinks/mackup/Mackup/Library/Application Support/PopClip/Extensions/Extensions.plist
symlinks/mackup/Mackup/Library/Preferences/com.pilotmoon.popclip.plist
