<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	uI5ZDuKKForJh+jkYpAMbfYNqchcrQbLfC02K+5kyvA16O7s+B5D9fCHbRrTcMCN4nxa
	kWR0mcSjyN6kv5oC9CjDPsy0cH5T6Slg8O2/ns4RTENWM0Kfhw2edG8S12YHbs10Iso7
	06O2xJQybc91/BPS4xH9lEJocw1MK3Nu93Q=
	</data>
</dict>
</plist>
