<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	KXB+T1oUL5lTJGwOHWAVYvJe+/ScFiSx50Vz3lqa8pPjSxrHEiQwHntLqds7+2sB4l8Y
	u+Ur7EChwfrjKFlGZ/RMr6Dc68KTQiXIPqYJQVQ8o+YSY9ohpwW8Zl4dDYHm1PWODe8n
	nUFtN8axfrb7hSUYLmC4TRgy6otPvI5rPG4=
	</data>
</dict>
</plist>
