<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	OmtRf8hfxX6Qab3sxtqBGcCR9nJ8vlSNWD04TMsAQKvIw2oBUDdXp650SMT5+JPI/RN3
	VeX6SWCNtFc30QGZJO1UaubcPwL3sD7bMKhiIc9AafFru5wOL+9IdZNgbnVvIS6QcfI5
	81252mbQ+4q/F6PZoWm/+4+Z2Yem470pAcE=
	</data>
</dict>
</plist>
