[include]
	path = ~/.gitconfig_local

[init]
	templateDir = ~/.git_template/

[core]
	excludesfile = ~/.gitignore_global
	editor=$(which vim)

[diff]
	tool = Kaleidoscope

[merge]
	tool = Kaleidoscope

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true

[alias]
	last = log -n 1
	sha = rev-parse --short HEAD
	graph = log --oneline --decorate --graph
	re-author = "!CDATE=$(git show -s --date=iso --format=%cd @); GIT_COMMITTER_DATE=$CDATE GIT_AUTHOR_DATE=$CDATE git commit --amend --reset-author"
	unpushed = log --branches --not --remotes --no-walk --decorate --oneline
