[include]
	path = ~/.gitconfig_local

[core]
	excludesfile = ~/.gitignore_global
	editor=nvim

[pull]
	ff = only

[init]
	defaultBranch = local/dev

[diff]
	tool = Kaleidoscope

[merge]
	tool = Kaleidoscope
	conflictStyle = diff3

[rebase]
	autosquash = true
	updateRefs = true

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true

[alias]
	last = log -n 1
	sha = rev-parse --short HEAD
	graph = log --oneline --decorate --graph
	re-author = "!CDATE=$(git show -s --date=iso --format=%cd @); GIT_COMMITTER_DATE=$CDATE GIT_AUTHOR_DATE=$CDATE git commit --amend --reset-author"
	unpushed = log --branches --not --remotes --no-walk --decorate --oneline
	noblame = "!f() { DEST=$(git config blame.ignoreRevsFile); if [[ -n $DEST ]]; then [[ -e $DEST ]] && [[ -n $(tail -n 1 $DEST) ]] && echo >> $DEST; git show -s --format=\"# %s%n%H%n\" $1 >> $DEST; fi }; f"
	ignorelast = "!FILE=$(git config blame.ignoreRevsFile); git noblame && [[ -e $FILE ]] && git add $FILE && git commit -m \"Exclude $(git sha) from annotations - $(basename $(git branch --show-current))\""
