body.theme-light,
body.theme-dark {
  --text-accent: var(--frost3);
  --text-accent-hover: var(--frost1);
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;
}

.external-link {
  background: none;
  padding-right: unset;
}
