<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	oFQJrG/o5Aj0C9lpOwoiP+rysB686aJmD7a99AD81FhVzGdkLlmlS1AXfYSsFPsA2zp8
	oG5dMsMs6GrDUevOibgrLFoDLEFeIuegQPNRzGkp/M//kmf5YAeILEt+5VT3MeF3tbBG
	UaUwH8pSP+E4HhzmIOv3i7K+e4UbzcAGV1Y=
	</data>
</dict>
</plist>
