<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Installed Extensions</key>
	<array>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.underscore</string>
			<key>Extension Name</key>
			<string>Underscore</string>
			<key>Package Name</key>
			<string>Underscore.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.hyphenate</string>
			<key>Extension Name</key>
			<string>Hyphenate</string>
			<key>Package Name</key>
			<string>Hyphenate.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.sort</string>
			<key>Extension Name</key>
			<string>Sort</string>
			<key>Package Name</key>
			<string>Sort.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.remove-spaces</string>
			<key>Extension Name</key>
			<string>Remove Spaces</string>
			<key>Package Name</key>
			<string>RemoveSpaces.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.code-case</string>
			<key>Extension Name</key>
			<string>Coding Cases</string>
			<key>Package Name</key>
			<string>CodeCase.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.lowercase</string>
			<key>Extension Name</key>
			<string>Lowercase</string>
			<key>Package Name</key>
			<string>Lowercase.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.charcount</string>
			<key>Extension Name</key>
			<string>Character Count</string>
			<key>Package Name</key>
			<string>CharCount.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.title-case</string>
			<key>Extension Name</key>
			<string>Title Case</string>
			<key>Package Name</key>
			<string>TitleCase.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pghk.popclip.extension.unix-time</string>
			<key>Extension Name</key>
			<string>Unix Time</string>
			<key>Package Name</key>
			<string>UnixTime.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.urlencode</string>
			<key>Extension Name</key>
			<string>URL Encode</string>
			<key>Package Name</key>
			<string>URLEncode.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.uppercase</string>
			<key>Extension Name</key>
			<string>Uppercase</string>
			<key>Package Name</key>
			<string>Uppercase.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.htmlencode</string>
			<key>Extension Name</key>
			<string>HTML Encode</string>
			<key>Package Name</key>
			<string>HTMLEncode.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.wordcount</string>
			<key>Extension Name</key>
			<string>Word Count</string>
			<key>Package Name</key>
			<string>WordCount.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.brettterpstra.popclip.extension.comment</string>
			<key>Extension Name</key>
			<string>Comment</string>
			<key>Package Name</key>
			<string>Comment.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.quotes</string>
			<key>Extension Name</key>
			<string>Quotes</string>
			<key>Package Name</key>
			<string>Quotes.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.brackets</string>
			<key>Extension Name</key>
			<string>Brackets</string>
			<key>Package Name</key>
			<string>Brackets.popclipext</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
