<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	hATbjCe0lG4xuwK2RYC/bNsytikpvaQmL6jqgPqaoG/OBaIPVtquUF/rKyM+0Wa7ksIZ
	mGvA0YCUFRnGjRgFh6i9PzYSAh0pcC46DNTmv2T3HetRsLE/ShQ/mt4am4fE8saTgcdA
	ulw8+uKdUYXdxWnMYIP6GdSjqTQHg/O0HQs=
	</data>
</dict>
</plist>
