{{- $headless := env "CI" -}}

{{- if not $headless -}}

{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $profiles := list "init" "personal" "work" -}}
{{- $profile := promptChoice "Install profile" $profiles -}}
{{- $useOP := promptBool "Connect to 1Password" false -}}
{{- $opVault := "" -}}
{{- if $useOP -}}
    {{- $opVault = promptString "Using which vault" "private" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    profile = {{ $profile | quote }}
    {{- if $useOP }}
    opVault = {{ $opVault | quote }}
    {{- end }}

[merge]
    command = "code"

[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]

{{- end -}}
