tap "bats-core/bats-core"

# Bash Automated Testing System
brew "bats-core"
# Common assertions for Bats
brew "bats-core/bats-core/bats-assert"
# Supporting library for Bats test helpers
brew "bats-core/bats-core/bats-support"

{{ if not (env "CI") -}}
{{-   include "01.Brewfile" -}}

{{-   if not (eq .profile "init") -}}
{{-     include "02.Brewfile" -}}

{{-     if eq .profile "work" -}}
{{-       include "Work.Brewfile" -}}
{{-     end -}}

{{-     if eq .profile "personal" -}}
{{-       include "Home.Brewfile" -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
